<!doctype html>
<html ng-app="wakatimeGlance">
  <head>
    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="js/index.js"></script>
    <title>WakaTime Glance</title>
    <style>
      body {
        min-width: 300px;
        max-width: 300px;
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
      }
    </style>
  </head>
  <body>
    <div ng-controller="PopupController as popup">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>WakaTime Glance</h2>
          <span flex></span>
          <!--Invisible button because chrome tries to highlight/focus the first button.-->
          <button style="background: none; border: none; color: transparent; width: 0px; height: 0px; outline: none; cursor: default"></button>
          <md-button class="md-icon-button" href="https://wakatime.com/dashboard" target="_blank">
            <md-icon md-svg-src="img/ic_dashboard_black_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-tabs ng-if="popup.isLoggedIn">
        <md-tab label="Totals" >
          <md-content layout-padding>
            <div style="text-align: center">
              <md-button class="md-icon-button" ng-click="popup.decrementDate()">
                <md-icon md-svg-src="img/ic_keyboard_arrow_left_black_24px.svg"></md-icon>
              </md-button>
              <strong>{{ popup.formatDate(popup.specifiedDate) }}</strong>
              <md-button class="md-icon-button" ng-click="popup.incrementDate()" ng-disabled="popup.isDateCurrent()">
                <md-icon md-svg-src="img/ic_keyboard_arrow_right_black_24px.svg"></md-icon>
              </md-button>
              <p style="font-size: xx-large; margin-bottom: 0px; margin-top: 0px" ng-show="popup.specifiedDateTotal">{{popup.specifiedDateTotal}}</p>
              <div ng-show="!popup.specifiedDateTotal">
                <br />
                <md-progress-linear md-mode="query"></md-progress-linear>
              </div>
            </div>
          </md-content>
          <md-divider></md-divider>
          <md-content layout-padding>
            <div style="text-align: center">
              <strong>Last 7 Days</strong>
              <p style="font-size: xx-large; margin-bottom: 0px; margin-top: 10px" ng-show="popup.sevenDayTotal">{{ popup.sevenDayTotal }}</p>
              <div ng-show="!popup.sevenDayTotal">
                <br />
                <md-progress-linear md-mode="query"></md-progress-linear>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Projects">
          <md-content>
            <md-list>
              <md-subheader class="md-no-sticky" style="text-align: center;">7 Day Total</md-subheader>
              <md-list-item class="md-2-line" ng-repeat="project in popup.projectTotals">
                <div class="md-list-item-text" style="text-align: center;">
                  <strong>{{project.name}}</strong>
                  <p style="font-size: x-large">{{ project.time }}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
      </md-tabs>
      <div ng-if="!popup.isLoggedIn">
        <h2 style="text-align: center">Oops! Looks like you're not logged in.</h2>
        <md-content layout-padding>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" href="https://wakatime.com/login" target="_blank">Log In</md-button>
          </div>
          <h4 style="text-align: center">(will open in new tab)</h4>
        </md-content>
      </div>
    </div>
  </body>
</html>

